body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}
.wrapper {
	max-width: 500px;
	margin: 0px auto;
}
.completed {
	text-decoration: line-through;
	color: #ccc;
}
